services:
  - type: web
    name: monolith-180-ptt
    env: docker
    rootDir: ptt-server
    plan: free
    autoDeploy: true
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
